* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;

}

h2 {
  background-color: #fafafa;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  padding: 12px 0;
}

h3 {
  font-size: 24px;
  padding-top: 10px;
}

p {
  margin-bottom: 10px;
}

button {
  border-style: none;
  cursor: pointer;

  font-size: 16px;
  text-transform: uppercase;
  background-color: black;
  border-top: 5px solid black;
  color: white;

  width: 100%;
  padding: 20px 0;
  margin-top: 10px;
}

button:hover {
  background-color: white;
  color: black;
}

ul {
  list-style: square;
}

li {
  margin-bottom: 10px;
  margin-left: 20px;
}

li:last-child {
  margin-bottom: 0;
}

.container {
  width: 825px;
  margin: 50px auto;
  border: 5px solid black;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 20px;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.free-shipping {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #444;
}

.product-details {
  font-size: 16px;
  text-transform: uppercase;
  margin: 20px 0;
}