* {
  padding: 0;
  margin: 0;
  /* Now, the padding will not be added to the width */
  box-sizing: border-box;
}

h1,
h2,
h3 {
  color: #1098ad;
}

body {
  font-family: sans-serif;
  color: #444;

  position: relative;
}

h1 {
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
}

/* Pseudo-element */
h1::first-letter {
  font-style: normal;
  margin-right: 5px;
}

h2 {
  font-size: 40px;
  margin-bottom: 30px;

  position: relative;
}

h2::after {
  content: "TOP";
  background-color: yellow;
  color: #444;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -5px;
  right: -10px;
}

/* Adyacent sibling selector */
h2+p::first-letter {
  font-weight: bold;
}

h3 {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 20px;
}

h3+p::first-letter {
  font-weight: bold;
}

h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10;
}

li:first-child {
  font-weight: bold;
}

li:last-child {
  font-style: italic;
  margin-bottom: 0;
}

/* Pseudo-classes */
a:link {
  text-decoration: none;
  color: #1098ad;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: #444;
  font-weight: bold;
}

a:active {
  color: #222;
}

article {
  width: 825px;
  flex: 1;
}

nav {
  font-size: 18px;
}

nav a:link {
  /* margin-top: 10px; */
  margin-right: 10px;
  /* display: inline-block; */
}

/* nav a:link:last-child {
  margin-right: 0;
} */

aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;

  /* 
  DEFAULTS
  flex-grow: 0;
  flex-shrink:1
  flex-basis: auto;
  */

  flex: 0 0 300px;
}

footer {
  clear: both;
}

button {
  font-size: 22px;
  padding: 20px;
  cursor: pointer;

  position: absolute;
  bottom: 30px;
  right: 20px;

}

/* Id */
#copyright {
  font-size: 16px;
}

/* Classes */
.container {
  border-top: 16px solid #1098ad;
  width: 1200px;
  margin: 0 auto;
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  font-style: italic;
  margin-left: 15px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.laura-jones-img {
  width: 50px;
}

.post-img {
  /* Size of the parent container */
  width: 100%;
  height: auto;
}

.related-post {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.related-link:link {
  font-size: 17px;
  font-weight: bold;
  font-style: normal;
  display: block;
  margin-bottom: 5px;
}

.related-author {
  font-size: 18px;
  font-weight: normal;
  font-style: italic;
  margin-bottom: 0;
}

.related {
  list-style: none;
  margin-left: 0;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 75px;
  margin-bottom: 60px;
}

/* li:nth-child() */

/* The Clear Fick Trick for Floats */
/* .clearfix::after {
  clear: both;
  content: '';
  display: block;
} */