/* 
--- 01 typography system

- font size system in px
10 12 14 16 18 20 24 30 36 44 52 62 74 86 96

- line height
default: 1
small: 1.05
medium: 1.2
paragraph default: 1.6

- font weights
default: 400
medium: 500
semi-bold: 600
bold: 700

- letter spacing
-0.5px
0.75px

--- 02 colors

- primary color
#e67e22

- tints
#fdf2e9
#fae5d3

- shades
#45260a
#cf711f
#eb984e

- accents

- greys
#6f6f6f lightest color allowed #fdf2e9
#888
#767676 lightest color allowed on #fff
#555
#333
#aaa
#eee
#fff

- other colors
#ffd43b

--- 03 shadows

--- 04 border radius
default: 9px
meals section: 11px

--- 05 whitespace
2 4 8 12 16 24 32 48 64 80 96 128

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  /*
  outline: 4px dotted #e67e22;
  outline-offset: 0.8rem;
  */

  box-shadow: 0 0 0 0.8rem rgba(230, 126, 34, 0.5);
}

html {
  /* percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #555;
}

/* --- general reusable components */

.container {
  padding: 0 3.2rem;
  margin: 0 auto;
}

.max-130rem {
  max-width: 130rem;
}

.max-120rem {
  max-width: 120rem;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid-vcenter {
  align-items: center;
}

.grid-footer {
  grid-template-columns: 3fr 3fr 2fr 2fr 2fr;
}

.grid-2cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-3cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid-5cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid:not(last-child) {
  margin-bottom: 9.6rem;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  letter-spacing: -0.5px;
  color: #333;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 1.05;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 2rem;
  font-weight: 500;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 1.6rem 3.2rem;

  border-radius: 9px;
  transition: all 400ms;

  /* for .btn */
  border: none;
  cursor: pointer;
}

.btn-full:link,
.btn-full:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn-full:hover,
.btn-full:active {
  background-color: #cf711f;
}

.btn-outline:link,
.btn-outline:visited {
  background-color: #fff;
  color: #555;
}

.btn-outline:hover,
.btn-outline:active {
  box-shadow: inset 0 0 0 3px #fff;
  background-color: #fdf2e9;
}

.btn-form {
  background-color: #45260a;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn-form:hover {
  background-color: #fdf2e9;
  color: #45260a;
}

.link:link,
.link:visited {
  display: inline-block;

  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;

  transition: all 400ms;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: #e67e22;
}

.icon-disabled {
  color: #555;
}

.text-disabled {
  color: #555;
  text-decoration: line-through;
}

.tag {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  border-radius: 100px;
}

.tag-vegetarian {
  background-color: #51cf66;
}

.tag-vegan {
  background-color: #82c91e;
}

.tag-paleo {
  background-color: #ffd43b;
}

strong {
  font-weight: 500;
}

/* --- helper classes */

.margin-right-small {
  margin-right: 1.6rem !important;
}

.center-text {
  text-align: center;
}

.margin-bottom-medium {
  margin-bottom: 4.8rem !important;
}

.grid-cell-justify-end {
  justify-self: end;
}