/* - header */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #fdf2e9;

  /* it will be sticky */
  height: 9.6rem;
  padding: 4.8rem;
}

.logo {
  height: 2.2rem;
}

/* - navigation */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;

  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;

  text-decoration: none;
  color: #333;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 300ms;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #cf711f;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;

  background-color: #e67e22;
  color: #fff;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #cf711f;
}

/* - hero section */

.section-hero {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;

  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;

  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  margin-right: -1.6rem;

  border-radius: 50%;
  border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
  margin-right: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: #cf711f;
  font-weight: 700;
}

/* - featured in section */

.section-featured {
  padding: 4.8rem 0 3.2rem 0;
}

.heading-featured-in {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.75px;
  font-weight: 500;
  margin-bottom: 2.4rem;
  color: #888;
}

.logos {
  display: flex;
  justify-content: space-around;
}

.logos img {
  height: 3.2rem;
  filter: brightness(0);
  opacity: 50%;
}

/* - how it works section */

.section-how {
  padding: 9.6rem 0;
}

.step-text-box {
  align-self: center;
}

.step-number {
  font-size: 8.6rem;
  font-weight: 600;
  color: #ddd;
  margin-top: 1.2rem;
}

.step-description {
  font-size: 2rem;
  line-height: 1.8;
}

.step-img-box {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}

.step-img-box::before,
.step-img-box::after {
  content: "";
  display: block;

  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.step-img-box::before {
  width: 60%;
  /* trick */
  padding-bottom: 60%;
  background-color: #fdf2e9;

  z-index: -2;
}

.step-img-box::after {
  width: 45%;
  padding-bottom: 45%;
  background-color: #fae5d3;

  z-index: -1;
}

.step-img {
  width: 35%;
}

/* - meals section */

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  border-radius: 11px;
  overflow: hidden;

  transition: all 600ms;
}

.meal:hover {
  transform: translateY(-2rem);
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.05);
}

.meal-content {
  padding: 3.2rem 4.8rem;
}

.meal-title {
  font-size: 2rem;
  color: #333;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.meal-img {
  width: 100%;
}

.meal-icon {
  height: 2.4rem;
  width: 2.4rem;
  color: #e67e22;
}

.meal-attributes {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.meal-attribute {
  font-size: 1.8rem;

  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.meal-tags {
  margin-bottom: 1.2rem;

  display: flex;
  gap: 0.4rem;
}

.all-recipes {
  text-align: center;
  font-size: 1.8rem;
}

/* - testimonial section */

.section-testimonials {
  background-color: #fae5d3;

  display: grid;
  grid-template-columns: 55fr 45fr;
  align-items: center;
}

.testimonials-container {
  columns: 1/-1;
  padding: 9.6rem;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 4.8rem;
  column-gap: 8rem;
}

.testimonial-img {
  max-width: 6.4rem;
  width: 25%;
  border-radius: 50%;
  margin-bottom: 1.2rem;
}

.testimonial-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 1.6rem;
}

.testimonial-name {
  font-size: 1.6rem;
  color: #6f6f6f;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  padding: 1.6rem;
}

.gallery-item {
  overflow: hidden;
}

.gallery-item img {
  display: block;
  width: 100%;
  transition: all 400ms;
}

.gallery-item img:hover {
  scale: 1.1;
  transform: rotate(5deg);
}

/* - pricing section */

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 11px;
  padding: 4.8rem;
  width: 75%;
}

.pricing-plan-complete {
  background-color: #fdf2e9;
  position: relative;
  overflow: hidden;
}

.pricing-plan-complete::after {
  content: "Best Value";
  position: absolute;
  top: 4.5%;
  right: -8.5%;

  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  padding: 0.8rem 3.2rem;
  background-color: #ffd43b;
  rotate: 45deg;
}

.pricing-plan-starter {
  outline: 2px solid #fdf2e9;
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  color: #cf711f;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75;
  margin-bottom: 2rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-signup {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

/* - features section */

.feature {}

.feature-title {
  font-size: 2.4rem;
  color: #333;
  font-weight: 700;
  margin-bottom: 3.2rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}

.feature-icon {
  color: #e67e22;
  height: 2.4rem;
  width: 2.4rem;
  margin-bottom: 3.2rem;
  background-color: #fae5d3;
  padding: 1.6rem;
  border-radius: 50%;
}